<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your StockX Clone</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header th:fragment="headerLoggedOut" class="site-header">
        <div class="container">
            <div class="header-content">
                <div class="logo">
                    <a class="title" href="/">Sole Society</a>
                </div>
                
                <div class="header-actions">
                    <div class="search-bar">
                        <input type="text" placeholder="Search...">
                        <button type="submit">Search</button>
                    </div>
                    <div class="user-actions">
                        <a href="/user-login?tab=login">Login</a>
                        <a href="/user-login?tab=signup">Register</a>
                        <a href="/cart">Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="content-wrapper">