<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <div th:fragment="sidebar" class="sidebar">
        <h2 id="profile-name"></h2>  <ul>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/buying">Buying</a></li>
            <li><a href="/selling">Selling</a></li>
            <li><a href="/favorites">Favorites</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/wallet">Wallet</a></li>
            <li><a href="/">Logout</a></li>
        </ul>
    </div>
</body>
</html>